//base
@use 'sass:math';

body {
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem(18);
  color: $color-black;
  &._lock {
    overflow: hidden;
  }
}

._container {
  max-width: $mainContainer;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;

  //1620px - main container size
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  &_home {
  }

  &__main-block {
  }
  &__catalog-cards {
  }
  &__products-slider {
  }
}

.button {
  display: inline-block;

  color: $color-white;
  background-color: $color-orange;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: 3px;
  font-weight: 600;
  font-size: rem(20);
  padding: rem(8) rem(52);
  line-height: math.div(32, 20);
  text-align: center;

  @media screen and (min-width: $mobile) {
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $color-orange-mod;
      box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.43);
    }
  }
}
.dotts {
  display: grid;
  grid-auto-flow: column;

  justify-content: center;
  text-align: start !important;
  // transform: translate(0px, 20%);
  margin: 0 auto !important;
  overflow: hidden !important;
  .swiper-pagination-bullet {
    border-radius: 0px;
    margin: 0px rem(7.5) !important;
    opacity: 1;
    height: rem(30) !important;
    width: rem(18) !important;
    position: relative;
    background-color: transparent;
    transition: all 0.3s linear 0s;
    &::after {
      content: '';
      height: rem(2);

      position: absolute;
      top: 50%;
      transform: translate(0px, -50%);
      width: 100%;

      background: #898989;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: $color-orange;
      width: rem(10);
      height: rem(10);
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      border-radius: 50%;
      opacity: 0;

      transition: left 3.5s linear 0s;
    }
  }
  .swiper-pagination-bullet-active {
    width: rem(30) !important;

    &::after {
      background-color: $color-orange;
    }
    &::before {
      opacity: 1;
      left: rem(20);
    }
  }
}
