//base
@use 'sass:math';

body {
  font-family: Montserrat;
  font-weight: 500;
  font-size: rem(18);
  color: $color-black;
  &._lock {
    overflow: hidden;
  }
}

._container {
  max-width: $mainContainer;
  margin: 0 auto;
  padding: 0px 15px;
  box-sizing: content-box;

  //1620px - main container size
}

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.page {
  &_home {
  }
  &_inner {
    padding-top: rem(30);
  }

  //===========================

  &__header {
    margin-bottom: rem(30);
  }
  &__container {
  }

  &__main-block {
  }
  &__catalog-cards {
  }
  &__products-slider {
  }
  &__articles-module {
  }
  &__products-block {
  }
}

.button {
  display: inline-block;

  color: $color-white;
  background-color: $color-orange;
  box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);
  border-radius: 3px;
  font-weight: 600;
  font-size: rem(20);
  padding: rem(8) rem(52);
  line-height: math.div(32, 20);
  text-align: center;

  @media screen and (min-width: $mobile) {
    transition: all 0.3s ease 0s;
    &:hover {
      background-color: $color-orange-mod;
      box-shadow: 0px 4px 25px rgba(232, 170, 49, 0.43);
    }
  }

  &_border {
    background-color: $color-white;
    color: $color-orange;
    border: 2px solid $color-orange;
    box-shadow: 0px 4px 20px rgba(232, 170, 49, 0.43);

    &:hover {
      color: $color-white;
      border: 2px solid $color-orange-mod;
    }
  }

  &_black {
    background-color: $color-dark;
    color: $color-white;
    border: 2px solid $color-dark;
    box-shadow: none;
    padding: rem(8) rem(30);
    &:hover {
      color: $color-white;
      border: 2px solid $color-orange-mod;
    }
  }
}
.dotts {
  display: grid;
  grid-auto-flow: column;

  justify-content: center;
  text-align: start !important;
  // transform: translate(0px, 20%);
  margin: 0 auto !important;
  overflow: hidden !important;
  .swiper-pagination-bullet {
    border-radius: 0px;
    margin: 0px rem(7.5) !important;
    opacity: 1;
    height: rem(30) !important;
    width: rem(18) !important;
    position: relative;
    background-color: transparent;
    transition: all 0.3s linear 0s;
    &::after {
      content: '';
      height: rem(2);

      position: absolute;
      top: 50%;
      transform: translate(0px, -50%);
      width: 100%;

      background: #898989;
    }

    &:before {
      content: '';
      position: absolute;
      background-color: $color-orange;
      width: rem(10);
      height: rem(10);
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      border-radius: 50%;
      opacity: 0;

      transition: left 3.5s linear 0s;
    }
  }
  .swiper-pagination-bullet-active {
    width: rem(30) !important;

    &::after {
      background-color: $color-orange;
    }
    &::before {
      opacity: 1;
      left: rem(20);
    }
  }
}

// catalog some base styles

.breadcrumps {
  white-space: nowrap;
  overflow: auto;
  height: rem(22);
  &__list {
    display: flex;
  }

  &__item {
  }

  &__link {
    opacity: 0.5;
    display: flex;
    align-items: center;
    &::after {
      content: '\e900';
      @extend ._ic;

      transform: rotate(-90deg);
      font-size: rem(6);
      margin: 0px em(10, 6);
    }
  }

  &__current {
    color: $color-orange;
  }
}

//===================================

//title for all pages
.title {
  font-weight: 700;
  font-size: rem(24);
  line-height: math.div(29, 24);

  &:not(:last-child) {
    margin-bottom: em(25, 24);
  }
}

//select block styles
.control {
  border-radius: 3px;
  box-sizing: border-box;
  border: 1px solid rgba(4, 4, 4, 0.3);
  max-width: 270px;
  background-color: $color-white;
  min-height: rem(40);

  font-size: rem(16);
  line-height: math.div(20, 16);
  font-weight: 500;
  font-family: Montserrat;
  padding: 0px rem(20);
  cursor: pointer;
}
//===================================

//pagination for catalog

.pagging {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @include adaptiv-value('gap', 30, 15, 1, 320, 0);
  &__arrow {
    &::before {
      font-size: rem(10);
    }
    &_left {
      transform: rotate(90deg);
      color: rgba(0, 0, 0, 0.12);
    }

    &_right {
      transform: rotate(-90deg);
      color: $color-orange;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: rem(13);
  }

  &__item {
  }

  &__link {
    width: rem(34);
    height: rem(34);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    &._active {
      background-color: $color-orange;
      color: $color-white;
    }
  }
}

//===================================

//checkbox styles

.checkbox {
  position: relative;

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;

    &:focus + .checkbox__label::before {
    }
    &:checked + .checkbox__label::before {
      border: 1px solid $color-orange;
    }
    &:checked + .checkbox__label::after {
      transform: scale(1);
    }
  }

  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    gap: rem(10);

    &::before {
      content: '';
      align-self: flex-start;
      flex: 0 0 rem(20);
      width: rem(20);
      height: rem(20);
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 2px;
    }

    &:after {
      transition: transform 0.2s ease 0s;
      transform: scale(0);
      content: '';
      position: absolute;
      width: rem(16);
      height: rem(16);
      top: rem(2);
      left: rem(2);
      background-color: $color-orange;
    }
  }

  &__text {
    small {
      color: $color-orange;
    }
  }
}

//===================================

//quantity styles

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  &__button {
    width: rem(50);
    height: rem(50);
    background-color: $color-dark;
    color: $color-white;
    text-align: center;

    transition: all 0.2s ease 0s;

    &:hover {
      background-color: $color-orange;
      color: $color-dark;
    }
    &:active {
      background-color: $color-orange-mod;
    }
    &_plus {
    }

    &_minus {
    }
  }

  &__input {
    input {
      max-width: rem(50);
      padding: rem(14) rem(10);
      text-align: center;
    }
  }
}

//========================================================

//tabs styles
.product-info {
  background: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}
.tabs {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include adaptiv-value('padding', 30, 10, 1, 320, 0);
  padding-top: rem(0) !important;
  &__label {
    order: 1;
    display: block;

    cursor: pointer;
    @include adaptiv-value('padding-top', 30, 20, 1, 320, 0);
    @include adaptiv-value('padding-bottom', 30, 20, 1, 320, 0);

    @media screen and (min-width: calc($tablet + 1px)) {
      @include adaptiv-value('margin-right', 60, 20, 1, 320, 0);
    }
  }
  &__input[type='radio'] {
    display: none;
  }
  &__input[type='radio']:checked + label {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      height: rem(2);
      width: 100%;
      bottom: 0px;
      left: 0px;
      background-color: $color-orange;
    }
  }
  &__input[type='radio']:checked + label + .tabs__content {
    transition: all 1s ease 0s;
    visibility: visible;
    opacity: 1;
    position: static;
  }

  @media screen and (max-width: $tablet) {
    &__content,
    &__label {
      order: initial;
    }
    &__label {
      width: 100%;
    }
  }

  &__comments {
    @media screen and (min-width: $mobile) {
      display: flex;
      gap: rem(20);
      align-items: center;
      justify-content: space-between;
    }
  }

  &__none-comment {
    line-height: math.div(22, 18);
    @media screen and (max-width: calc($mobile - 1px)) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__write-comment {
    white-space: nowrap;
    @media screen and (max-width: calc($mobile - 1px)) {
      width: 100%;
    }
  }

  &__content {
    order: 99;
    flex-grow: 1;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    position: absolute;

    background: #fff;
  }
  &__content-wrapper {
    border-top: 1px solid rgba(20, 20, 20, 0.15);
    padding-top: rem(30);
    margin-top: -1px;
    &_mod {
      @include adaptiv-value('padding-right', 120, 0, 1, 320, 0);
    }
    p {
      color: $color-dark;
      line-height: math.div(27, 18);
    }
    strong {
      font-weight: 600;
    }
  }
  &__info-text {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
  &__characteristics {
  }
  &__delivery {
  }
}

.delivery-block {
  display: grid;
  gap: rem(20);
  &__item {
    display: grid;
    gap: rem(15);

    @media screen and (min-width: $mobileSmall) {
      grid-template-columns: minmax(rem(130), auto) minmax(rem(130), rem(300));
      justify-content: start;
      align-items: center;
      gap: rem(30);
    }
  }

  &__label {
    font-weight: 600;
    line-height: math.div(22, 18);
  }

  &__select {
    font-family: Montserrat;
    background-color: $color-white;
    padding: rem(10) rem(20);
    border: 1px solid rgba(4, 4, 4, 0.15);
    border-radius: 3px;
  }

  &__option {
    font-size: rem(16);
    line-height: math.div(20, 16);
  }
}

.characteristics-tab {
  display: grid;

  gap: rem(30);

  @media screen and (min-width: $mobileSmall) {
    grid-template-columns: repeat(auto-fit, minmax(rem(450), 1fr));
  }
  &__column {
    &:not(:last-child) {
      border-right: 1px solid rgba(20, 20, 20, 0.15);
      @media screen and (max-width: rem(1499)) {
        border-right: none;
      }
    }
  }

  &__title {
    font-weight: 700;

    line-height: math.div(22, 18);
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__items {
    padding-right: rem(20);
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(20);
    }
    display: grid;

    line-height: math.div(22, 18);
    gap: rem(5);
    @media screen and (min-width: $mobileSmall) {
      grid-template-columns: rem(200) 1fr;
      gap: rem(60);
    }
  }

  &__name {
  }

  &__value {
  }
}

//========================================================
