@use 'sass:math';
//footer
.footer {
  background-color: $color-dark;
  &__text {
  }

  &__container {
  }

  &__body {
  }
}
.text-footer {
  @include adaptiv-value('padding-top', 60, 40, 1, 320, 0);
  @include adaptiv-value('padding-bottom', 60, 40, 1, 320, 0);
  background: url('../../img/footer/bg.jpg') top / cover no-repeat;
  &__container {
  }

  &__title {
    text-align: center;
    font-weight: 700;

    line-height: math.div(46, 30);
    color: $color-orange;
    @include adaptiv-value('font-size', 30, 24, 1, 320, 0);
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }

  &__text {
    color: $color-white;
    line-height: math.div(27, 18);
    @include adaptiv-value('font-size', 18, 16, 1, 320, 0);
  }
}

.body-footer {
  display: grid;
  @include adaptiv-value('gap', 35, 25, 1, 320, 0);
  @include adaptiv-value('padding-top', 100, 40, 1, 320, 0);
  @include adaptiv-value('padding-bottom', 50, 40, 1, 320, 0);
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    column-gap: rem(40);
    @include adaptiv-value('row-gap', 40, 20, 1, 320, 0);
    &:not(:last-child) {
      padding-bottom: rem(30);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &__item {
  }

  &__bottom {
    color: rgba(255, 255, 255, 0.8);
    font-size: rem(14);
    line-height: math.div(27, 14);

    @media screen and (min-width: rem(1200)) {
      display: flex;
      gap: rem(20);
      justify-content: space-between;
    }
  }

  &__rules {
    max-width: rem(820);
  }

  &__copy {
    margin-top: rem(10);
    @media screen and (min-width: rem(1200)) {
      margin-top: 0px;
    }
    span {
      white-space: nowrap;
    }
  }
}

.item-footer {
  &__spoller {
  }
}
.spoller-item-footer {
  &__item {
  }

  &__title {
    text-transform: uppercase;
    color: $color-white;
    font-weight: 600;
    line-height: math.div(22, 18);

    &:not(:last-child) {
      margin-bottom: em(26, 18);
    }

    ._init & {
      display: flex;

      justify-content: space-between;
      gap: rem(10);
      width: 100%;
      &::after {
        content: '\e900';
        @extend ._ic;
        font-size: rem(8);
        margin-top: em(6, 8);
        transition: transform 0.3s ease 0s;
      }
    }
    &._active {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  &__body {
    @include adaptiv-value('padding-top', 30, 20, 1, 320, 0);
    @include adaptiv-value('padding-bottom', 30, 20, 1, 320, 0);
  }
  &__text {
    max-width: rem(320);
    line-height: math.div(27, 18);
    color: rgba(255, 255, 255, 0.8);
    a {
      color: $color-orange;

      @media screen and (min-width: $mobile) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.menu-footer {
  &:not(:last-child) {
    @include adaptiv-value('margin-bottom', 32, 20, 1, 320, 0);
  }
  &__list {
  }

  &__item {
    color: $color-white;
    opacity: 0.8;
    display: flex;
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: em(20, 18);
    }
    p {
      opacity: 0.8;
    }

    &::before {
      font-size: rem(20);
      margin-right: em(10, 15);
      margin-top: em(5, 15);
    }
    &._icon-footer-email {
      &::before {
        font-size: rem(13);
      }
    }
  }

  &__link {
    line-height: math.div(27, 18);
    color: rgba(255, 255, 255, 0.8);
    display: inline-flex;
    @media screen and (min-width: $mobile) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footer-subscribe {
  &__label {
    line-height: math.div(22, 18);
    display: block;
    color: rgba(255, 255, 255, 0.8);
    &:not(:last-child) {
      margin-bottom: em(10, 18);
    }
  }

  &__line {
    display: flex;
    border-radius: rem(3);
    overflow: hidden;
  }

  &__input {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid $color-white;
    height: rem(48);
    padding: 0px rem(20);
    color: $color-white;
    width: 100%;
    border-right: none;
    border-radius: rem(3) 0px 0px rem(3);
    &::placeholder {
      color: rgba(255, 255, 255, 0.52);
    }
  }

  &__button {
    flex: 0 0 rem(50);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-orange;
    &::before {
      color: $color-white;
      font-size: rem(10);
      transform: rotate(-90deg);
    }
  }
}

.social-footer {
  display: flex;
  gap: rem(24);
  &__item {
  }

  &__link {
  }
}
