@use 'sass:math';
//footer
.footer {
  background-color: $color-dark;
  &__text {
  }

  &__container {
  }

  &__body {
  }
}
.text-footer {
  @include adaptiv-value('padding-top', 60, 40, 1, 320, 0);
  @include adaptiv-value('padding-bottom', 60, 40, 1, 320, 0);
  background: url('../../img/footer/bg.jpg') top / cover no-repeat;
  &__container {
  }

  &__title {
    text-align: center;
    font-weight: 700;

    line-height: math.div(46, 30);
    color: $color-orange;
    @include adaptiv-value('font-size', 30, 24, 1, 320, 0);
    &:not(:last-child) {
      margin-bottom: em(30, 30);
    }
  }

  &__text {
    color: $color-white;
    line-height: math.div(27, 18);
    @include adaptiv-value('font-size', 18, 16, 1, 320, 0);
  }
}

.body-footer {
  display: grid;
  @include adaptiv-value('gap', 35, 15, 1, 320, 0);
  @include adaptiv-value('padding-top', 100, 40, 1, 320, 0);
  @include adaptiv-value('padding-bottom', 50, 40, 1, 320, 0);
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(290), 1fr));
    column-gap: rem(40);
    @include adaptiv-value('row-gap', 40, 20, 1, 320, 0);
    &:not(:last-child) {
      padding-bottom: rem(30);
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    }
  }

  &__item {
  }
}

.item-footer {
  &__spoller {
  }
}
.spoller-item-footer {
  &__item {
  }

  &__title {
    text-transform: uppercase;
    color: $color-white;
    font-weight: 600;
    line-height: math.div(22, 18);

    &:not(:last-child) {
      margin-bottom: em(26, 18);
    }

    ._init & {
      display: flex;

      justify-content: space-between;
      gap: rem(10);
      width: 100%;
      &::after {
        content: '\e900';
        @extend ._ic;
        font-size: rem(8);
        margin-top: em(6, 8);
        transition: transform 0.3s ease 0s;
      }
    }
    &._active {
      &::after {
        transform: rotate(-180deg);
      }
    }
  }

  &__body {
    @include adaptiv-value('padding-top', 30, 20, 1, 320, 0);
    @include adaptiv-value('padding-bottom', 30, 20, 1, 320, 0);
  }
}
.menu-footer {
  &__list {
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: em(20, 18);
    }
  }

  &__link {
    line-height: math.div(27, 18);
    color: rgba(255, 255, 255, 0.8);
  }
}
