//header
@use 'sass:math';
.header {
  &__top {
  }
  &__body {
  }
  &__catalog {
  }
}

//===========================================

//top header
.top-header {
  background-color: $color-dark;
  color: $color-white;
  padding: rem(10) 0px;
  &__container {
    display: flex;
    align-items: center;
    gap: rem(20);
    min-height: rem(50);

    @media screen and (max-width: calc($tablet - 1px)) {
      gap: rem(30);
    }
  }
  &__menu {
    flex: 1 1 auto;
  }

  &__user {
    position: relative;
    z-index: 5;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    line-height: math.div(22, 18);
    gap: rem(15);
    &::before {
      font-size: rem(28);
    }

    @media screen and (min-width: $mobileSmall) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: $color-orange;
      }
    }

    @media screen and (max-width: calc($tablet - 1px)) {
      &::before {
        font-size: rem(35);
      }
      span {
        display: none;
      }
    }
  }
}

.menu-top-header {
  &__list {
    display: flex;

    row-gap: rem(10);
    flex-wrap: wrap;
    @include adaptiv-value('column-gap', 60, 20, 1, 320, 0);

    @media screen and (max-width: calc($tablet - 1px)) {
      flex-direction: column;
      row-gap: rem(25);
    }
  }

  &__item {
    &_catalog {
      display: block;
      @media screen and (min-width: $tablet) {
        display: none;
      }
    }
  }

  &__link {
    font-size: rem(16);
    line-height: math.div(20, 16);

    @media screen and (min-width: $mobileSmall) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: $color-orange;
      }
    }

    &_catalog {
      display: flex;
      flex-flow: row-reverse nowrap;
      align-items: center;
      justify-content: space-between;

      &::before {
        font-size: rem(8);
        transform: rotate(-90deg);
      }
    }

    @media screen and (max-width: calc($tablet - 1px)) {
      @include adaptiv-value('font-size', 30, 20, 4, 320, 991);
    }
  }
  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }
}

//menu in the top header
.menu {
  display: none;
  @media screen and (max-width: calc($tablet - 1px)) {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__body {
    @media screen and (max-width: calc($tablet - 1px)) {
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: -100%;
      overflow: auto;
      background-color: $color-dark;
      padding: rem(100) rem(15) rem(50) rem(15);
      z-index: 4;
      transition: left 0.3s ease-in 0s;

      &:before {
        content: '';
        position: fixed;
        z-index: 1;
        width: 100%;
        height: 70px;
        left: -100%;
        top: 0;

        background-color: $color-dark;
      }
      &._active {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }
}

//burger
.icon-menu {
  background-color: transparent;
  position: relative;
  width: 40px;

  height: 22px;
  cursor: pointer;
  z-index: 10;

  span,
  &::before,
  &::after {
    content: '';
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: $color-white;
  }
  &::before {
    top: 0px;
  }
  &::after {
    bottom: 0px;
  }
  span {
    top: calc(50% - 1px);
  }

  &._active {
    span {
      transform: scale(0);
    }
    &::before {
      transform: rotate(-45deg);
      top: calc(50% - 1px);
    }
    &::after {
      transform: rotate(45deg);
      bottom: calc(50% - 1px);
    }
  }
}

//===========================================

.body-header {
  padding: rem(10) 0px;
  background-color: #ecf1f2;
  &__container {
    display: flex;
    min-height: rem(70);
    align-items: center;

    @media screen and (max-width: calc($tablet - 1px)) {
      justify-content: space-between;
    }
  }

  &__logo {
    color: $color-dark;

    &::before {
      font-size: rem(42);
    }
  }

  &__search {
    flex: 1 1 auto;

    @media screen and (min-width: $tablet) {
      padding-right: rem(20);
    }

    @media screen and (min-width: calc($mobileSmall + 1px)) {
      @include adaptiv-value('padding-left', 158, 20, 1, 1250, 0);
    }
  }

  &__actions {
  }
}

.search-header {
  background-color: #e5e9ea;
  position: relative;
  border: 1px solid rgba(4, 4, 4, 0.5);
  border-radius: 4px;

  @media screen and (min-width: $tablet) {
    max-width: rem(377);
  }
  &__button {
    position: absolute;
    top: 0;
    left: rem(8);
    width: rem(40);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: rem(40);

    color: rgba(0, 0, 0, 0.5);

    &::before {
      font-size: rem(14);
    }
  }

  &__input {
    width: 100%;
    height: rem(40);
    background-color: transparent;
    border-radius: 4px;
    padding: 0px rem(20) 0px rem(50);
    color: rgba(0, 0, 0, 0.9);

    &::placeholder {
      color: rgba(0, 0, 0, 0.5);
    }
  }
}

.actions-header {
  display: flex;
  align-items: center;

  @include adaptiv-value('column-gap', 30, 20, 1, 1000, 0);
  @media screen and (max-width: calc($tablet - 1px)) {
    display: none;
  }
  &__location {
    display: inline-flex;
    align-items: center;
    font-weight: 600;

    @include adaptiv-value('margin-right', 25, 0, 1, 1400, 0);

    &::before {
      font-size: rem(24);
      margin-right: rem(10);
    }

    @media screen and (min-width: $mobileSmall) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: $color-orange;
      }
    }
  }

  &__phones {
  }

  &__favorite {
    position: relative;
    z-index: 5;
    &::before {
      font-size: rem(27);
    }
  }

  &__cart {
  }
}

.phones-header {
  position: relative;
  z-index: 5;
  &__items {
  }

  &__item {
    position: relative;
    display: flex;
  }

  &__phone {
    font-weight: 600;
    line-height: math.div(22, 18);
    white-space: nowrap;
    &::before {
      @extend ._ic;
      @extend ._icon-footer-phone;
      display: none;
    }
    @media screen and (max-width: calc($tablet - 1px)) {
      font-size: rem(25);
    }
    @media screen and (max-width: $mobileSmall) {
      &::before {
        display: block;
        font-size: rem(32);
      }
      & span {
        display: none;
      }
    }
  }

  &__arrow {
    color: $color-orange;

    &::before {
      font-size: rem(10);
    }
    margin-left: rem(17);
    transition: transform 0.3s ease 0s;
    &._active {
      transform: rotate(-180deg);
    }

    @media screen and (max-width: calc($tablet - 1px)) {
      display: none;
    }
  }

  &__list {
    position: absolute;
    z-index: 2;
    top: 100%;
    min-width: 100%;
    left: 0;
    background-color: #ecf1f2;
    padding: rem(15);
    border-radius: rem(10);
    margin-top: rem(10);
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

    li {
      &:not(:last-child) {
        margin-bottom: rem(12);
      }
      a {
        display: flex;
        align-items: center;
        &::before {
          color: $color-orange;
          margin-right: rem(10);
        }
      }
    }

    @media screen and (max-width: calc($tablet - 1px)) {
      display: none;
    }
  }

  &__callback {
    margin-top: rem(4);
    color: $color-orange;
    font-weight: 700;
    line-height: math.div(22, 18);
    font-size: inherit;

    @media screen and (min-width: $tablet) {
      &:hover {
        text-decoration: underline;
      }
    }

    @media screen and (max-width: calc($tablet - 1px)) {
      display: none;
    }
  }
}
.cart-header {
  display: flex;
  align-items: center;
  column-gap: rem(15);
  position: relative;
  z-index: 5;
  @media screen and (min-width: $mobileSmall) {
    &:hover {
      .cart-header__link {
        text-decoration: underline;
      }
    }
  }
  // @media screen and (max-width: calc($tablet - 1px)) {
  //   order: 4;
  // }
  &__icon {
    flex: 0 0 37px;
    position: relative;
    &::before {
      font-size: rem(35);
    }
    span {
      position: absolute;
      background-color: $color-orange;
      font-size: rem(9);
      width: rem(16);
      height: rem(16);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      top: 0;
      right: 0;
      color: $color-white;
    }
  }

  &__body {
    font-size: rem(16);
    line-height: math.div(20, 16);
    flex: 0 0 auto;

    @media screen and (max-width: 1250px) {
      display: none;
    }
  }

  &__summ {
    font-weight: 500;

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__link {
    color: $color-orange;
  }
}

//===========================================

//===========================================

.catalog-header {
  background-color: $color-dark;
  color: $color-white;
  position: relative;
  &__container {
    &._container {
    }
  }

  &__menu {
  }

  @media screen and (max-width: $mobileSmall) {
    padding: rem(20) 0px;
  }
}

.menu-catalog {
  @media screen and (max-width: calc($tablet - 1px)) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color-dark;
    padding: rem(25) rem(15) rem(50) rem(15);
    transition: left 0.3s ease 0s;

    .catalog-open & {
      left: 0;
      z-index: 6;
    }
  }
  &__list {
    display: flex;
    column-gap: rem(10);
    justify-content: space-between;

    @media screen and (max-width: calc($tablet - 1px)) {
      flex-direction: column;
      row-gap: rem(25);
    }
  }

  &__item {
  }

  &__link {
    display: flex;

    position: relative;
    color: $color-white;
    &[data-parent] {
      &::before {
        @extend ._ic;
        @extend ._icon-arrow-bottom;
        display: none;
        @media screen and (max-width: calc($tablet - 1px)) {
          display: block;
          transform: rotate(-90deg);
          font-size: rem(10);
        }
      }
      @media screen and (max-width: calc($tablet - 1px)) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }

    @media screen and (min-width: $tablet) {
      align-items: center;
      justify-content: center;
      text-align: center;
      min-height: rem(70);
      padding: 0px rem(10);
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      width: calc(100% - rem(20));
      height: 2px;
      background-color: $color-orange;
      transform: translate(-50%, 0px);

      opacity: 0;
      visibility: hidden;

      transition: opacity 1s ease 0s;
    }

    @media screen and (min-width: $tablet) {
      transition: color 0.3s ease 0s;
      &:hover {
        color: $color-orange;

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }

    &._sub-menu-active {
      @media screen and (min-width: $tablet) {
        color: $color-orange;

        &::after {
          opacity: 1;
          visibility: visible;
        }
      }
    }
    @media screen and (max-width: calc($tablet - 1px)) {
      @include adaptiv-value('font-size', 30, 20, 4, 320, 991);
    }
  }

  &__sub-menu {
    width: 100%;
    left: 0;
    top: 100%;

    background-color: $color-dark;
  }

  &__back {
    display: none;
    color: inherit;

    @media screen and (max-width: calc($tablet - 1px)) {
      display: inline-flex;
      align-items: center;

      @include adaptiv-value('font-size', 30, 20, 4, 320, 991);
      margin-bottom: rem(65);

      &::before {
        margin-right: rem(13);
      }
    }
  }
}
.sub-menu-catalog {
  @media screen and (max-width: calc($tablet - 1px)) {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $color-dark;
    padding: rem(25) rem(15) rem(50) rem(15);
    transition: left 0.3s ease 0s;

    .sub-menu-open & {
      display: block;
      left: 0;
      z-index: 6;
    }
  }
  &__back {
    display: none;
    color: inherit;

    @media screen and (max-width: calc($tablet - 1px)) {
      display: inline-flex;
      align-items: center;

      @include adaptiv-value('font-size', 30, 20, 4, 320, 991);
      margin-bottom: rem(65);

      &::before {
        margin-right: rem(13);
      }
    }
  }
  &__block {
    display: none;

    @for $var from 1 to 6 {
      &_#{$var} {
        // justify-content: start;
        grid-template-columns: repeat($var, minmax(auto, rem(320)));
      }
    }
    &._sub-menu-open {
      display: grid;

      @media screen and (max-width: calc($tablet - 1px)) {
        display: block;
      }
    }
  }
  &__container {
    padding: 0px rem(10);
  }

  &__category {
    font-size: rem(16);
    line-height: math.div(20, 16);

    @media screen and (min-width: $tablet) {
      font-weight: 700;
      padding: rem(30) rem(15) rem(30) rem(0);
    }
    @media screen and (max-width: calc($tablet - 1px)) {
      &:not(:last-child) {
        margin-bottom: rem(25);
      }
    }
  }
  &__link-category {
    display: inline-block;
    @media screen and (min-width: $mobileSmall) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media screen and (max-width: calc($tablet - 1px)) {
      @include adaptiv-value('font-size', 30, 20, 4, 320, 991);
    }
  }
  &__list {
    display: flex;
    gap: rem(20);
    flex-direction: column;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding: rem(30) rem(15) rem(30) rem(0);

    @media screen and (max-width: calc($tablet - 1px)) {
      display: none;
    }
  }

  &__item {
  }

  &__link {
    font-size: rem(16);
    line-height: math.div(20, 16);

    @media screen and (min-width: $mobileSmall) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__footer {
    padding: rem(30) rem(15) rem(30) rem(0);

    @media screen and (max-width: calc($tablet - 1px)) {
      display: none;
    }
  }
  &__all {
    font-size: rem(16);
    color: $color-orange;

    @media screen and (min-width: $mobileSmall) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//===========================================
