@use 'sass:math';

// main block styles
.main-block {
  background: url('../../img/main-page/main-block/bg.png') center / cover no-repeat;
  padding-top: rem(40);
  @include adaptiv-value('padding-bottom', 60, 40, 1, 320, 0);
  &__container {
  }

  &__body {
    display: grid;

    align-items: start;
    row-gap: rem(40);
    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 43, 30, 1, 320, 0);
    }

    @media screen and (min-width: $tablet) {
      grid-template-columns: 1fr percent(635, 1600);
    }
  }

  &__slider {
    &.swiper {
      margin: 0 rem(-30);
      padding: 0 rem(30);
    }
  }

  &__swiper {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }

  &__slide {
  }

  &__media {
  }

  &__advantages {
  }
  &__controll {
  }
}

.controll-main-block {
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: rem(20);

  &__dotts {
    display: inline-grid;
    grid-auto-flow: column;
    gap: rem(15);
    transform: translate(0px, 20%);
    .swiper-pagination-bullet {
      border-radius: 0px;
      margin: 0 !important;
      opacity: 1;
      height: rem(30) !important;
      width: rem(18) !important;
      position: relative;
      background-color: transparent;
      transition: all 0.3s linear 0s;
      &::after {
        content: '';
        height: rem(2);

        position: absolute;
        top: 50%;
        transform: translate(0px, -50%);
        width: 100%;

        background: $color-white;
      }

      &:before {
        content: '';
        position: absolute;
        background-color: $color-orange;
        width: rem(10);
        height: rem(10);
        top: 50%;
        left: 0;
        transform: translate(0px, -50%);
        border-radius: 50%;
        opacity: 0;

        transition: left 3.5s linear 0s;
      }
    }
    .swiper-pagination-bullet-active {
      width: rem(30) !important;

      &::after {
        background-color: $color-orange;
      }
      &::before {
        opacity: 1;
        left: rem(20);
      }
    }
  }

  &__fraction {
  }
}
.fraction-controll {
  display: flex;
  color: $color-white;
  align-items: flex-end;
  font-weight: 600;
  letter-spacing: 0.2em;
  &__current {
    font-size: rem(24);
    color: $color-orange;
  }

  &__all {
    font-size: rem(18);
  }
}

.slide-main-block {
  &__content {
    color: $color-white;

    &:not(:last-child) {
      @include adaptiv-value('margin-bottom', 60, 30, 1, 320, 0);
    }
    @media screen and (min-width: $tablet) {
      padding: 0px rem(40) 0px 0px;
    }
  }

  &__title {
    font-weight: 700;

    @include adaptiv-value('font-size', 36, 22, 4, 320, 991);
    line-height: math.div(46, 36);

    &:not(:last-child) {
      margin-bottom: em(15, 36);
    }
  }

  &__sub-title {
    @include adaptiv-value('font-size', 36, 22, 4, 320, 991);
    line-height: math.div(46, 36);
    &:not(:last-child) {
      margin-bottom: em(30, 36);
    }
  }

  &__text {
    opacity: 0.7;
    font-size: rem(20);
    line-height: math.div(30, 20);

    @include adaptiv-value('font-size', 20, 16, 4, 320, 991);
  }

  &__button {
    @media screen and (max-width: $mobileSmall) {
      width: 100%;
    }
  }
}
.media-main-block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(15);

  &__body {
    position: relative;
  }
  &__image {
    &::before {
      position: absolute;

      content: '';
      width: percent(423, 449);
      padding-bottom: percent(423, 449);

      border: rem(2) solid rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      bottom: 3.5%;
      right: 0px;
      transform: translate(percent(131, 423), 0px);
    }

    img {
      max-width: 100%;
      position: relative;
      z-index: 2;
    }
  }

  &__tips {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }

  &__tip {
    width: rem(20);
    height: rem(20);
    position: absolute;

    transition: transform 0.3s ease 0s;
    @media screen and (min-width: $mobile) {
      &:hover {
        transform: rotate(-180deg);
      }
    }

    &::before,
    &::after {
      content: '';
      border-radius: 50%;
      background-color: $color-orange;

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    &::after {
      transform: scale(1.6);
      opacity: 0.5;
    }
    span {
      pointer-events: none;
      position: relative;
      z-index: 2;
      color: $color-white;
      font-weight: 600;
      font-size: rem(20);

      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &_1 {
      top: percent(186, 500);
      left: percent(72, 447);
    }

    &_2 {
      top: percent(57, 500);
      right: percent(13, 447);
    }

    &_3 {
      bottom: percent(115, 500);
      right: percent(28, 447);
    }
  }
}
.advantages-main {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: rem(10);
  justify-content: space-between;

  @media screen and (max-width: calc($tablet - 1px)) {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    row-gap: rem(30);
  }
  @media screen and (max-width: $mobile) {
    grid-template-columns: repeat(1, 1fr);
  }
  &__item {
    display: grid;
    gap: rem(17);
    text-align: center;
    max-width: rem(290);
    grid-template-rows: 77px auto;
  }

  &__icon {
    align-self: center;
  }

  &__text {
    color: $color-white;
    font-weight: 600;
    font-size: rem(20);
    line-height: math.div(32, 20);
  }
}
// ==================================

//item catalog cards block

.catalog-cards {
  @include adaptiv-value('padding-top', 100, 40, 1, 320, 0);
  @include adaptiv-value('padding-bottom', 70, 40, 1, 320, 0);
  &__container {
    display: grid;
    gap: rem(30);

    @media screen and (min-width: $mobileSmall) {
      grid-template-columns: repeat(auto-fit, minmax(rem(440), 1fr));
    }
  }

  &__item {
  }
}
.item-catalog-cards {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  position: relative;

  min-height: rem(290);
  overflow: hidden;

  @media screen and (min-width: $mobileSmall) {
    transition: box-shadow 0.3s ease 0s;

    &:hover {
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }
  }

  &__body {
    position: relative;
    z-index: 2;

    @include adaptiv-value('padding', 30, 20, 1, 320, 0);
    @media screen and (max-width: calc($mobileSmall - 1px)) {
      &:not(:last-child) {
        margin-bottom: rem(20);
      }
    }
  }

  &__title {
    &:not(:last-child) {
      margin-bottom: em(30, 24);
    }
  }

  &__link-title {
    font-weight: 600;
    font-size: rem(24);
    line-height: math.div(32, 24);
    display: inline-block;
    &::after {
      content: '';
      display: block;
      width: rem(70);
      height: rem(2);
      background-color: $color-orange;
      transition: width 0.8s ease 0s;
      margin: rem(15) 0px 0px 0px;
    }
    @media screen and (min-width: $mobileSmall) {
      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__list {
  }

  &__item {
    position: relative;
    padding-left: rem(20);
    &::before {
      content: '';
      display: block;
      width: rem(6);
      height: rem(6);
      background-color: $color-orange;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: em(9, 18);
    }

    &:not(:last-child) {
      margin-bottom: rem(10);
    }
  }

  &__link {
    font-size: rem(18);
    line-height: math.div(24, 18);
    @media screen and (min-width: $mobileSmall) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__image {
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    transform: translate(0px, 9%);
    img {
      max-width: 100%;
    }

    @media screen and (min-width: $mobileSmall) {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
    }
  }
}

//main styles for cards
.hits-products {
  @include adaptiv-value('padding-top', 50, 40, 1, 320, 0);
  @include adaptiv-value('padding-bottom', 120, 40, 1, 320, 0);
}

.link-arrow {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  color: $color-orange;
  font-size: rem(20);
  font-weight: 600;

  &::before {
    margin-left: em(20, 20);
    transform: rotate(-90deg);
    font-size: rem(8);
  }
  @media screen and (min-width: $mobileSmall) {
    &:hover {
      span {
        text-decoration: underline;
      }
    }
  }
}

.sale-products {
  @include adaptiv-value('padding-top', 120, 40, 1, 320, 0);
  @include adaptiv-value('padding-bottom', 120, 40, 1, 320, 0);
  &_no-bottom {
    padding-bottom: 0px;
  }
}
// ===================================

//articles styles

.articles-module {
  &__container {
  }

  &__title {
  }

  &__items {
  }

  &__item {
  }
}

.item-article {
  &__image {
  }

  &__body {
  }

  &__title {
  }

  &__link-title {
  }

  &__date {
  }
}

//4:52:00
//===================================
