//base sizes
$mainContainer: 1590px;
$maxWidthContainer: 1620; //For adaprive value
$maxWidth: 1920; // Layout canvas size
$minWidth: 320;

$minWidth: 320px;
$maxWidth: 1920px;
//colors
$color-white: #ffffff;
$color-dark: #141414;
$color-black: #000;

//breakpoints
$tablet: 992px;
$mobile: 768px;
$mobileSmall: 480px;
